In [21]:
import numpy as np
import pandas as pd

In [22]:
data_directory = 'data/'
file_names = [
    'Batch_corrected_Expression_Public_24Q4_subsetted.csv',
    'Damaging_Mutations_subsetted.csv', 
    'Harmonized_RPPA_CCLE_subsetted.csv',
    'Hotspot_Mutations_subsetted.csv', 
    'IC50_AUC_merged.csv', 
    'Metabolomics_subsetted.csv',
    'miRNA_Expression_subsetted.csv',
    'Omics_Absolute_CN_Gene_Public_24Q4_subsetted.csv'
    ]

In [23]:
IC50_AUC = pd.read_csv(f'{data_directory}{file_names[4]}')
IC50_AUC = IC50_AUC.rename(columns={"Unnamed: 0": "CellLineID"})

In [24]:
melted = IC50_AUC.melt(
    id_vars=["CellLineID"],  # 고정할 컬럼(세포주 ID)
    var_name="metric_drug",  # 가로였던 열 이름들이 녹아들어갈 컬럼
    value_name="value"       # 값
)
melted.head()

   CellLineID                                        metric_drug     value
0  ACH-000001  Drug sensitivity AUC (Sanger GDSC2) (+)-CAMPTO...  0.967187
1  ACH-000002  Drug sensitivity AUC (Sanger GDSC2) (+)-CAMPTO...  0.711866
2  ACH-000004  Drug sensitivity AUC (Sanger GDSC2) (+)-CAMPTO...  0.742350
3  ACH-000006  Drug sensitivity AUC (Sanger GDSC2) (+)-CAMPTO...  0.752250
4  ACH-000007  Drug sensitivity AUC (Sanger GDSC2) (+)-CAMPTO...  0.845466

In [25]:
import re

# 예: "Drug sensitivity AUC (Sanger GDSC2) CAMPTOTHECIN (GDSC2:1003)"
#     -> (AUC), (CAMPTOTHECIN), (1003)
pattern = r"(AUC|IC50).*?\((Sanger GDSC2)\)\s+(.*?)\s+\(GDSC2:(\d+)\)"

# capture group 설명
# (AUC|IC50) -> 1) AUC 혹은 IC50
# (.*?)      -> 3) 약물명 (최소 매칭)
# (\d+)      -> 4) GDSC2: 뒤에 오는 숫자

In [26]:
melted[["Metric", "_sanger", "DrugName", "DrugNumber"]] = melted["metric_drug"].str.extract(pattern)
#melted["DrugID"] = "GDSC2:" + melted["DrugNumber"]
new_melted = melted[['CellLineID', 'value', 'Metric','DrugNumber']]
new_melted.head()

   CellLineID     value Metric DrugNumber
0  ACH-000001  0.967187    AUC       1003
1  ACH-000002  0.711866    AUC       1003
2  ACH-000004  0.742350    AUC       1003
3  ACH-000006  0.752250    AUC       1003
4  ACH-000007  0.845466    AUC       1003

In [27]:
final_IC50_AUC = (
    new_melted
    .pivot(index=["CellLineID", "DrugNumber"], 
           columns="Metric", 
           values="value")
    #.reset_index()
)

In [28]:
final_IC50_AUC = final_IC50_AUC.dropna(subset=['AUC', 'IC50'], how='all')
final_IC50_AUC.columns.name = None
#final_IC50_AUC.rename(columns={'Metric': 'index'})
final_IC50_AUC

                            AUC     IC50
CellLineID DrugNumber
ACH-000001 1003        0.967187      NaN
           1004        0.666062      NaN
           1005        0.977907      NaN
           1007        0.922989      NaN
           1010        0.957586      NaN
...                         ...      ...
ACH-002317 2096        0.946713      NaN
           2107        0.926422      NaN
           2109        0.916274  3.25832
           2110        0.906540      NaN
           2170        0.996681      NaN

[98430 rows x 2 columns]

In [29]:
final_IC50_AUC.to_csv("temp.csv")

# Now, map DrugNumber and SMILES

In [30]:
IC50_AUC_final = pd.read_csv("temp.csv")

In [31]:
IC50_AUC_final.columns

Index(['CellLineID', 'DrugNumber', 'AUC', 'IC50'], dtype='object')

In [32]:
type(IC50_AUC_final["DrugNumber"][0])

numpy.int64

In [33]:
SMILES = pd.read_csv("./data/drugID_name_pubchem_smiles.csv")
type(SMILES["drugID"][0])

numpy.int64

In [34]:
df_merged = pd.merge(IC50_AUC_final, SMILES, left_on='DrugNumber', right_on='drugID', how='inner')
df_merged = df_merged.reset_index(drop=True)
df_final = df_merged[['CellLineID', 'DrugNumber', 'smiles', 'AUC', 'IC50']]
df_final.to_csv("./data/IC50_AUC_SMILES_final.csv", index=False)
df_final_train = df_merged[['CellLineID', 'smiles', 'AUC', 'IC50']]
df_final_train.to_csv("./data/IC50_AUC_SMILES_final_train.csv", index=False)

In [35]:
df = pd.read_csv("./data/IC50_AUC_SMILES_final.csv")
df

,CellLineID,DrugNumber,smiles,AUC,IC50
0,ACH-000001,1003,CCC1(C2=C(COC1=O)C(=O)N3CC4=CC5=CC=CC=C5N=C4C3...,0.967187,NaN
1,ACH-000001,1004,CCC1(CC2CC(C3=C(CCN(C2)C1)C4=CC=CC=C4N3)(C5=C(...,0.666062,NaN
2,ACH-000001,1005,N.N.[Cl-].[Cl-].[Pt+2],0.977907,NaN
3,ACH-000001,1007,CC1=C2C(C(=O)C3(C(CC4C(C3C(C(C2(C)C)(CC1OC(=O)...,0.922989,NaN
4,ACH-000001,1010,COC1=C(C=C2C(=C1)N=CN=C2NC3=CC(=C(C=C3)F)Cl)OC...,0.957586,NaN
...,...,...,...,...,...
95259,ACH-002317,2096,CC1=CN=C(N=C1C2=CNC(=C2)C(=O)NC(CO)C3=CC(=CC=C...,0.946713,NaN
95260,ACH-002317,2107,C1COCCN1C2=CC=C(C=C2)C3=C(C=NC=C3)C4=CC(=C(C(=...,0.926422,NaN
95261,ACH-002317,2109,CC1CN(CC(N1)C)C2=NC=C(C(=C2)C)C3=CC=C(C=C3)C4=...,0.916274,3.25832
95262,ACH-002317,2110,C1CC(C1)NC2=NC=CC(=C2)C(=O)NCC(CN3CCC4=CC=CC=C...,0.906540,NaN
95263,ACH-002317,2170,C1=CC(=CC=C1C2=CNN=C2)C(CN)(C3=CC=C(C=C3)Cl)O,0.996681,NaN

In [36]:
df = pd.read_csv("./data/IC50_AUC_SMILES_final_train.csv")
df

,CellLineID,smiles,AUC,IC50
0,ACH-000001,CCC1(C2=C(COC1=O)C(=O)N3CC4=CC5=CC=CC=C5N=C4C3...,0.967187,NaN
1,ACH-000001,CCC1(CC2CC(C3=C(CCN(C2)C1)C4=CC=CC=C4N3)(C5=C(...,0.666062,NaN
2,ACH-000001,N.N.[Cl-].[Cl-].[Pt+2],0.977907,NaN
3,ACH-000001,CC1=C2C(C(=O)C3(C(CC4C(C3C(C(C2(C)C)(CC1OC(=O)...,0.922989,NaN
4,ACH-000001,COC1=C(C=C2C(=C1)N=CN=C2NC3=CC(=C(C=C3)F)Cl)OC...,0.957586,NaN
...,...,...,...,...
95259,ACH-002317,CC1=CN=C(N=C1C2=CNC(=C2)C(=O)NC(CO)C3=CC(=CC=C...,0.946713,NaN
95260,ACH-002317,C1COCCN1C2=CC=C(C=C2)C3=C(C=NC=C3)C4=CC(=C(C(=...,0.926422,NaN
95261,ACH-002317,CC1CN(CC(N1)C)C2=NC=C(C(=C2)C)C3=CC=C(C=C3)C4=...,0.916274,3.25832
95262,ACH-002317,C1CC(C1)NC2=NC=CC(=C2)C(=O)NCC(CN3CCC4=CC=CC=C...,0.906540,NaN
95263,ACH-002317,C1=CC(=CC=C1C2=CNN=C2)C(CN)(C3=CC=C(C=C3)Cl)O,0.996681,NaN